@mixin font($font-color,
   $font-weight: $font-weight-normal,
   $font-size: $font-size-base,
   $line-height: $base-line-height) {
   font-size: $font-size;
   font-weight: $font-weight;
   line-height: $line-height;
   color: $font-color;
}
@mixin breakpoint($breakpoint, $width-range: up) {
	@if (map-has-key($breakpoints, $breakpoint)) {
	   $value: map-get($breakpoints, $breakpoint);
 
	   @if $width-range==up {
		  @media screen and (min-width: $value) {
			 @content;
		  }
	   }
 
	   @else if $width-range==only {
		  $next-key: nextMapKey($breakpoint);
		  $next-value: map-get($breakpoints, $next-key);
 
		  @if $value != $next-value {
			 @media screen and (min-width: $value) and (max-width: $next-value) {
				@content;
			 }
		  } @else {
			 @media screen and (min-width: $value) {
				@content;
			 }
		  }
		  
	   }
	}
 }

 @mixin h1 ($font-size : $font-size-h1,
   $font-size--large : $font-size-h1--large,
   $font-family : $font-family-base,
   $color : color(light),
   $line-height : $line-height-h1--large,
   $line-height--large: $line-height-h1--large) {
   color: $color;
   font-size: $font-size-h1;
   font-family: $font-family;
   line-height: $line-height;
   margin-bottom: 2rem;

   @include breakpoint(large) {
      font-size: $font-size-h1--large;
      line-height: $line-height-h1--large;
   }

   ;
}

@mixin h2 ($color : color(light),
   $font-size--large : $font-size-h2--large,
   $line-height--large: $line-height-h2--large,
   $font-family : $font-family-base,
   $line-height : $line-height-h2,
   $font-size : $font-size-h2) {
   color: $color;
   font-size: $font-size;
   font-family: $font-family;
   line-height: $line-height;
   margin-bottom: 1.8rem;

   @include breakpoint(large) {
      font-size: $font-size-h2--large;
      line-height: $line-height-h2--large;
   }

   ;
}

@mixin h3 ($color : color(light),
   $font-size--large : $font-size-h3--large,
   $line-height--large: $line-height-h3--large,
   $font-family : $font-family-base,
   $line-height : $line-height-h3--large,
   $font-size : $font-size-h3) {
   color: $color;
   font-size: $font-size;
   font-family: $font-family;
   line-height: $line-height;
   margin-bottom: 1.6rem;

   @include breakpoint(large) {
      font-size: $font-size-h3--large;
      line-height: $line-height-h3--large;
   }

   ;
}

@mixin h4 ($color : color(light),
   $font-size--large : $font-size-h4--large,
   $line-height--large: $line-height-h4--large,
   $font-family : $font-family-base,
   $line-height : $line-height-h4,
   $font-size : $font-size-h4) {
   color: $color;
   font-size: $font-size;
   font-family: $font-family;
   line-height: $line-height;
   margin-bottom: 1.4rem;

   @include breakpoint(large) {
      font-size: $font-size-h4--large;
      line-height: $line-height-h4--large;
   }

   ;
}

@mixin h5 ($color : color(light),
   $font-size--large : $font-size-h5--large,
   $line-height--large: $line-height-h5--large,
   $font-family : $font-family-base,
   $line-height : $line-height-h5,
   $font-size : $font-size-h5) {
   color: $color;
   font-size: $font-size;
   font-family: $font-family;
   line-height: $line-height;
   margin-bottom: 1.2rem;

   @include breakpoint(large) {
      font-size: $font-size-h5--large;
      line-height: $line-height-h5--large;
   }

   ;
}

@mixin h6 ($color : color(light),
   $font-size--large : $font-size-h6--large,
   $line-height--large: $line-height-h6--large,
   $font-family : $font-family-base,
   $line-height : $line-height-h6,
   $font-size : $font-size-h6) {
   color: $color;
   font-size: $font-size;
   font-family: $font-family;
   line-height: $line-height;
   margin-bottom: 1rem;

   @include breakpoint(large) {
      font-size: $font-size-h6--large;
      line-height: $line-height-h6--large;
   }

   ;
}
